<script>
    $(document).ready(function() {
        $.get('/getNavbar', null, function (result) {
            if(result){
                $.get('/getName', null, function (result) {
                    $("#navName").text(result);
                });
                $("#navNoSession").prop('hidden', true);
                $("#navSession").prop('hidden', false);

                $.get('/getNotifications', null, function (result) {
                  if(result.length==0)
                  $("#notifs").append('<p class="dropdown-item">No new notifications.</p>');
                    for(var i = 0; i < result.length; i++) {
                      console.log(result);
                        $("#notifs").append('<a class="dropdown-item" href="listingItem?id=' + result[i].listingID + '">'+ result[i].description + '</a>');
                    }
                });
            }
            else{
                $("#navNoSession").prop('hidden', false);
                $("#navSession").prop('hidden', true);
            }
        });

      $('#search').click(() => {
        window.location.replace('/s?key=' + $('#searchBar').val())
      })

      $('#searchBar').keypress(function(e){
        if (e.which == 13){
          window.location.replace('/s?key=' + $('#searchBar').val())
        }
      })

    });
</script>

<script src="https://use.fontawesome.com/ace75e1302.js"></script>

<div class="container">
    <nav>
        <div class="fixed-top white row d-flex justify-content-between">
            <div class="d-flex rt">
                <a href="/" class="logolink"><h1 class="logo">Bids.</h1></a>
            </div>

            <div class="d-flex ter align-items-center">
                {{!-- <div class="d-flex" >
                    <form class="searchbar" method="get" action="/search">
                        <input class="search_input" type="text" name="searchInput" id="searchInput" placeholder="Search...">
                        <a href="#"><i class="fa fa-search searchicon"></i></a>
                    </form>
                    <!-- Button trigger modal -->

                </div> --}}
                <button type="button" class="btn btn-light d-none d-lg-block" style="padding: .5em 10em;" data-toggle="modal" data-target="#exampleModal">
                      {{#if search}}
                        {{search}}
                      {{else}}
                        Search
                      {{/if}}
                </button>
            </div>

            <div class="d-flex mr-5 userNav">
                <div id="navNoSession" hidden>
                  <div class="row">
                    <button class="fa fa-search d-block d-lg-none mr-3" style='border: 0; background-color: transparent; font-size: 24px; color: black;' aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></button>
                    <a class="nav-link" href="login">Login</a>
                  </div>
                </div>
                <div class="dropdown" id="navSession" hidden>
                    <div class="row">
                        <button class="fa fa-search d-block d-lg-none mr-3" style='border: 0; background-color: transparent; font-size: 24px; color: black;' aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></button>
                        <div class="dropdown">
                            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-bell" style="font-size: 24px; color: black; margin-top: 10px"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="notificationDropdown" id="notifs">
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <p id="navName" style="display:inline"> </p>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/createListing">Create a Listing</a>
                                <a class="dropdown-item" href="/biddingHistoryActive">Order History</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>

<!-- Search Modal -->
<div class="modal fade col-12" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered col-12" role="document" style='min-width: 50vw'>
    <div class="modal-content">
      <div class="modal-header" style='padding: 0'>
        <div class="input-group">
          <input type="text" id="searchBar"  style="height:50px"class="form-control" placeholder="Search..." aria-label="" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button class="btn" id="search" type="button" style="background-color: black; color: white"><i class="fas fa-search" ></i></button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h4>categories</h4>
        <div class="row">
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=clothes">clothes</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=food">food</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=electronics">electronics</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=tickets">tickets</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=furniture">furniture</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=beauty">beauty</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=books">books</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=hobbies">hobbies</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=accessories">accessories</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=media">media</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=music">music</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=sports">sports</a>
          </div>
          <div class="col-4 col-md-3 py-2">
            <a class="category" href="/f?filter=pets">pets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="passwordUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="new-password">New Password:</label>
                <input type="password" class="form-control" id="new-password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm-password">
            </div>
            <div class="form-group text-center" id="pass-id-group" style="display: none;">
                <p id="pass-id-text" class="mt-0 mb-0 text-danger">Error here</p>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="update-password-btn">Save changes</button>
      </div>
    </div>
  </div>
</div>