{{!-- <script>
    $(document).ready(function() {
    $.get('/getNavbar', null, function (result) {
        if(result){
            $("#navNoSession").prop('hidden', true);
            $("#navSession").prop('hidden', false);
            $.get('/getName', null, function (result) {
                $("#navName").text(result);
            });
        }
        else{
            $("#navNoSession").prop('hidden', false);
            $("#navSession").prop('hidden', true);
        }
    });
});
</script> --}}

<div class="container">
    <nav>
        <div class="row fixed-top white">
            <div class="col-3 d-flex justify-content-start">
                <a href="/" class="logolink"><h1 class="logo">Bids.</h1></a>
            </div>
            
            <div class="col-6 d-flex justify-content-center">
                <div class="d-flex justify-content-center align-content-center h-100" style="margin-top:-13px">
                    <form class="searchbar" method="get" action="/search">
                        <input class="search_input" type="text" name="searchInput" id="searchInput" placeholder="Search...">
                        <a href="#"><i class="fa fa-search searchicon"></i></a>
                    </form>
                </div>
            </div>

            <div class="col-3 d-flex justify-content-end userNav" >
                <div class="navNoSession">
                    <a class="nav-link" href="login">Login</a>              
                </div>
                {{!-- <div class="dropdown" id="navSession" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <p id="navName" style="display:inline"> </p>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/orderPending">Order History</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div> --}}
            </div>
        </div>
    </nav>
    
    
</div>
