{{!-- <script>
    $(document).ready(function() {
    $.get('/getNavbar', null, function (result) {
        if(result){
            $("#navNoSession").prop('hidden', true);
            $("#navSession").prop('hidden', false);
            $.get('/getName', null, function (result) {
                $("#navName").text(result);
            });
        }
        else{
            $("#navNoSession").prop('hidden', false);
            $("#navSession").prop('hidden', true);
        }
    });
});
</script> --}}

<nav class="navbar sticky-top navbar-expand-lg justify-content-center">
    <ul class="nav d-flex align-items-center">
        <li class="nav-item">
            <a class="nav-link navlink" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navlink" href="about">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navlink" href="contact">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navlink" href="faq">FAQ</a>
        </li>
        <li class="nav-item">
            <div class="d-flex justify-content-center align-content-center h-100" style="margin-top:-13px">
                <form class="searchbar" method="get" action="/search">
                    <input class="search_input" type="text" name="searchInput" id="searchInput" placeholder="Search...">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </li>
        <li class="nav-item" id="navNoSession">
            <a class="nav-link navlink" href="login">Login</a>
        </li>
        {{!-- <li class="nav-item dropdown" id="navSession" hidden>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <p id="navName" style="display:inline"> </p>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/orderPending">Order History</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li> --}}
    </ul>
</nav>
<nav class="navbar fixed-top navbar-expand-lg bg-transparent navlogo" style="width:100px">
    <a href="/" class="logolink"><h1 class="logo">Bids.</h1></a>
</nav>