<div class="product-card hvr-float-shadow ">
    <img class="product-icon"
        src="{{images.[0]}}">
    <div class="product-details shadow">
        <div class="row product-name-row">
            <p class="product-name">{{name}} </p>
        </div>
        <div class="row bid-details">
            <p class="col-12 latest">LATEST BID</p>
            <p class="col-12 product-price">{{highestBid}}php</p>
            <div class="row bid-row">
                <div class="bid-button col-5">
                    <p>+ bid</p>
                </div>

                <div class="bid-time-left col-7">
                    <p>
                        < <span class="time">10m</span> left
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>