<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>


</head>
{{> navbar}}
<div class="container">
    <div class="jumbotron jumbotron-fluid" id="about-jumbotron">
        <div class="container" >
            <h1 class="display-4 bold">about bids ph</h1>
            <p class="lead">Tag line here.</p>
        </div>
    </div>

    <h2 class="bold">Description</h2>
    <div class="row">
        <div class="col-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    <br>

    <h2 class="bold">Ansible</h2>
    <div class="row">
        <div class="col-12">
            <p>team background Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <br>
    <h2 class="bold">Team Members</h2>
    <div class="row">
        <div class="col-3">
            <div class="row d-flex justify-content-center">
                <img class="member-pic" src="https://scontent.fmnl13-1.fna.fbcdn.net/v/t1.0-9/81147735_3229344750414516_5558860082541756416_o.jpg?_nc_cat=100&ccb=2&_nc_sid=174925&_nc_ohc=oHRiiKbpVjQAX8YdxU8&_nc_ht=scontent.fmnl13-1.fna&oh=af3d1085435999f7d730d3cf47e7ebda&oe=6038A64E">
            </div>
            <div class="row d-flex justify-content-center">
                <p class="member-name">Jolo Cansana</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="position member-position">Product Owner</p>
            </div>
        </div>
        <div class="col-3">
            <div class="row d-flex justify-content-center">
                <img class="member-pic" src="https://scontent.fmnl13-1.fna.fbcdn.net/v/t1.0-9/53850207_2242620379386440_6982660334079180800_n.jpg?_nc_cat=100&ccb=2&_nc_sid=174925&_nc_ohc=QirfqU89WccAX8gqjU2&_nc_ht=scontent.fmnl13-1.fna&oh=99a1b8cec625e8f97da26898e1dd3daa&oe=6038632B">
            </div>
            <div class="row d-flex justify-content-center">
                <p class="member-name">Sean Pe</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="position member-position">Analyst</p>
            </div>
        </div>
        <div class="col-3">
            <div class="row d-flex justify-content-center">
                <img class="member-pic" src="https://media.discordapp.net/attachments/694405737698295828/804715669564162118/unknown.png">
            </div>
            <div class="row d-flex justify-content-center">
                <p class="member-name">Jedwig Tan</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="position member-position">QA Tester</p>
            </div>
        </div>
        <div class="col-3">
            <div class="row d-flex justify-content-center">
                <img class="member-pic" src="https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.0-9/49151132_2299967680223708_2407236741711790080_o.jpg?_nc_cat=107&ccb=2&_nc_sid=09cbfe&_nc_ohc=4c_ESHMXyh0AX-LD1vI&_nc_ht=scontent.fmnl13-2.fna&oh=5e0805f1dbaa0cc6dd48529639e9a916&oe=603AB810">
            </div>
            <div class="row d-flex justify-content-center">
                <p class="member-name">Stacey Barretto</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="position member-position">QA Tester</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="row d-flex justify-content-center">
                <img class="member-pic" src="https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.0-9/49051489_1973633626053943_7014738461265494016_n.jpg?_nc_cat=109&ccb=2&_nc_sid=174925&_nc_ohc=Td2n9sJYHLwAX-qQcSP&_nc_ht=scontent.fmnl13-2.fna&oh=d336d8e996358ed45939d0bb2602689e&oe=60391D6D">
            </div>
            <div class="row d-flex justify-content-center">
                <p class="member-name">Trisha Pelagio</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="position member-position">Developer</p>
            </div>
        </div>
        <div class="col-3">
            <div class="row d-flex justify-content-center">
                <img class="member-pic" src="https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.0-9/118394912_3957165100966068_1019668635578587970_o.jpg?_nc_cat=110&ccb=2&_nc_sid=730e14&_nc_ohc=9HfCf-OuqNcAX8Ea4nN&_nc_ht=scontent.fmnl13-2.fna&oh=d474d75ca75d63c216e30966f8e93bf9&oe=60390AFE">
            </div>
            <div class="row d-flex justify-content-center">
                <p class="member-name">Bryce Ramirez</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="position member-position">Developer</p>
            </div>
        </div>
        <div class="col-3">
            <div class="row d-flex justify-content-center">
                <img class="member-pic" src="https://media.discordapp.net/attachments/694405737698295828/804715669564162118/unknown.png">
            </div>
            <div class="row d-flex justify-content-center">
                <p class="member-name">Rasheed Jamalul</p>
            </div>
            <div class="row d-flex justify-content-center">
                <p class="position member-position">Developer</p>
            </div>
        </div>
        
    </div>

</div>
<body>
    
</body>
</html>