<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {{> navbar}}

    <div class="container">
        <div class="main">
            <div class="px-lg-4 px-md-4 px-sm-4 mb-3 ml-lg-4 ml-md-4">
                <h1 class="h1 font-weight-bold">Missout Pants</h1>

                <!-- Images Carousel -->
                <section>
                    <div class="rt-container">
                        <div class="col-rt-12">
                            <div class='demo-container'>
                                <div class='carousel'>
                                    <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1'
                                        name='carousel' type='radio'>
                                    <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel'
                                        type='radio'>
                                    <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel'
                                        type='radio'>
                                    <div class='carousel__controls'>
                                        <label class='carousel__control carousel__control--forward'
                                            for='carousel-slide-activator-2'>
                                            👉
                                        </label>
                                    </div>
                                    <div class='carousel__controls'>
                                        <label class='carousel__control carousel__control--backward'
                                            for='carousel-slide-activator-1'>
                                            👈
                                        </label>
                                        <label class='carousel__control carousel__control--forward'
                                            for='carousel-slide-activator-3'>
                                            👉
                                        </label>
                                    </div>
                                    <div class='carousel__controls'>
                                        <label class='carousel__control carousel__control--backward'
                                            for='carousel-slide-activator-2'>
                                            👈
                                        </label>
                                    </div>
                                    <div class='carousel__screen'>
                                        <div class='carousel__track'>
                                            <div
                                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                                <div class="demo-content">
                                                    <img src="./public/images/carousel-sample.jpg" alt="">
                                                </div>
                                            </div>
                                            <div
                                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                                <div class='demo-content'>
                                                    <img src="./public/images/carousel-sample.jpg" alt="">
                                                </div>
                                            </div>
                                            <div
                                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                                <div class='demo-content'>
                                                    <img src="./public/images/carousel-sample.jpg" alt="">
                                                </div>
                                            </div>
                                            <div
                                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                                <div class='demo-content'>
                                                    <img src="./public/images/carousel-sample.jpg" alt="">
                                                </div>
                                            </div>
                                            <div
                                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                                <div class='demo-content'>
                                                    <img src="./public/images/carousel-sample.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Item Details -->
                <div class="item-details mt-5">
                    <div class="container-fluid" style="margin: 0; padding: 0;">
                        <div class="row">
                            <div class="col-lg-8">
                                <h1 class="text-muted">item details</h1>
                                <p class="h4 font-weight-normal">Missout Pants, Size M, Unisex, Hardly Used.</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="jumbotron p-4" id="time-left">
                                    <small class="text-uppercase">TIME LEFT:</small>
                                    <h2 class="font-weight-bold">00:09:51</h2>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 align-self-center pb-5">
                                <p>
                                    <span class="h4 font-weight-bold">tags</span>
                                    <span class="ml-5 h4 font-weight-normal">men's clothing - men's bottoms</span>
                                </p>
                                <p>
                                    <span class="h4 font-weight-bold">range</span>
                                    <span class="ml-5 h4 font-weight-normal">PHP 100 - PHP 150 (+increments)</span>
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <div class="jumbotron p-4 pb-5">
                                    <h4 class="h4 font-weight-bold mb-4">About the seller</h4>
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <img src="./public/images/seller.jpg" alt="seller" class="seller-img">
                                        </div>
                                        <div class="col-lg-5 mt-3">
                                            <h4 id="seller-name" class="h4 mb-4 font-weight-bold">
                                                Bill Gates
                                            </h4>
                                            <p class="mb-0">Rating:</p>

                                            <h4 id="rating" class="mb-4">4/5</h4>
                                            <p class="font-weight-normal" id="seller-locations">
                                                Parañaque City, NCR
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- bidding details -->
                <div class="bidding-details mt-5">
                    <h1 class="text-muted mb-4">highest bid</h1>
                    <div class="container-fluid" style="padding: 0; margin: 0;">
                        <div class="row mt-2">
                            <div class="col-lg-6">
                                <h3 class="font-weight-bold">John Doe</h3>
                            </div>
                            <div class="col-lg-6 text-right">

                                <h3 class="font-weight-bold">
                                    <span class="badge badge-secondary mr-3">Highest</span>
                                    PHP 120.00
                                </h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-6">
                                <h3 class="font-weight-normal">Jill Dela Cruz</h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <h3 class="font-weight-normal">
                                    PHP 110.00
                                </h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-6">
                                <h3 class="font-weight-normal">Lorem Ipsum</h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <h3 class="font-weight-normal">
                                    PHP 100.00
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-bid mt-5">
                    <div class="jumbotron container-fluid p-5 px-5">
                        <div class="row text-center">
                            <div class="col-lg-4">
                                <h1 class="font-weight-bold text-muted text-uppercase">
                                    up the bid
                                </h1>
                            </div>
                            <div class="col-lg-4">
                                <div class="form">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <h1>PHP</h1>
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="number" class="form-control bid-area" value="140.00">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center px-5">
                                <button class="btn btn-lg btn-rounded btn-dark text-uppercase btn-block">place
                                    bid</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {{> footer}}
    </div>
</body>

</html>