#header {
    margin-top: 100px;
}

#od-history {
    font-size: 72px;
    font-weight: 800;
}

.title {
    font-weight: bold;
}

.order-tab {
    display: inline-block;
    color: black;
    font-size: 24px;
    margin-right: 55px;
}

.order-tab:hover{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.item-pic {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.order-tab::before {
    content: attr(title);
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    overflow: hidden;
    visibility: hidden;
    margin-top: -20px;
}

.order-list {
    margin-top: 50px;
    margin-bottom: 200px;
}

.order-num{
    font-weight: normal;
    font-size: 22px;
}

.product-icon{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.product-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 1rem;
    margin-bottom: 20px;
    color: black;
    text-decoration: none;
}

.product-name:hover {
    color: black;
    text-decoration: none;
}
.product-total {
    font-size: 22px;
    line-height: 1rem
}

.order {
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.delivery-details {
    font-weight: 300px;
    font-size: 18px;
    line-height: 0.5rem;
    padding-left: 65px;
}

.right-col {
    margin-left: 200px;
}

.cancel-button {
    width: 180px;
    height: 40px;
    font-size: 18px;
    color: white;
    background: #000000;
    border: 0px;
    border-radius: 30px;
    margin-right: 200px;
}

.selected-tab{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.report-button {
    width: 180px;
    height: 40px;
    font-size: 18px;
    color: white;
    background: #000000;
    border: 0px;
    border-radius: 30px;
}

.details {
    margin-bottom: 10px;
}

.formtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 49px;   
    color: #000000;
    margin-top: 20px;
}

.form-message {
    padding-bottom: 120px;
    height: 150px;
}

textarea:focus,
.dropdown:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(139, 139, 139, 0.6);
  outline: 0 none;
}

.modal {
    margin-top: 3%;
}